@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '/public/globalStyle.scss';

.Containernew{
    font-family: $font-family;
  background-color: $white-color;
   padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  .options{
    // border: 3px solid red;
    h2{
        font-size: 20px;
        font-weight: bold;
        color: #4A0575;
    }
  }
  .table{
    max-width: 80%;
    margin-left: 0;
    background-color: #FFFFFF;
    color: black;
    tr{
      
        border-bottom: 2px solid #EAECF0;
        th,td{
            text-align: center;
            padding: 15px;
            button{
              background-color: #4A0575;
            }
          }
      }
    }
    nav{
      ul{
        display: flex;
        gap: 20px;
        // border: 0 !important;
        
      }
    }
}



.search-icon {
  margin-right: 5px; 
  cursor: pointer;
}

