/* cobProgressChart.css */

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cobProgressChart {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  .chart{
    width: 100%;
    height: 100%;
  }
  .header2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .chart {
    margin-top: 20px;
  }
  