@import "./public/globalStyle.scss";
.navBar {
  font-family: $font-family;
    font-size: $font-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:$primary-color;
    // border-bottom: 2px solid $primary-shadow-color;
    box-shadow: 0px 0.5px 10px 2px $primary-shadow-color;
    .logo{
        // padding-left: 10px;
 
        img{
            height: 3rem;
       
    }
    .logo-txt{
        font-size: 22px;
        color: $primary-color;
        font-weight: 600;
    }
  }
  .topNavcContent{
    padding-right: 20px;
   
    .button{
        .submit-btn{
            background-color: $primary-color;
            color: $white-color;
            font-size: $font-size;
            font-weight: 600;
        }
    }
  }
 
   
  .settings ul li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color:black;
    width: 100%;
    p{
      display: flex;
      justify-content: left;
      gap: 1rem;
    }
    a{
      display: flex;
      justify-content: left;
      gap: 1rem;
    }
   
  }
  ul{
    padding: 10px;
    strong{
      color: $primary-color;
      display: flex;
      gap: 5px;
    }
    padding-left: 0;
  }
   
  .settings ul li:hover .submenu {
    display: block;
  }
   
  .submenu {
    // margin-top: 5px;
    background-color: $white-color;
    display: none;
    position: absolute;
    left: -10px;
    // box-shadow: 0px 0.5px 10px 2px $primary-shadow-color;
    border: 1px solid $primary-shadow-color;
    min-width: 170px;
    z-index: 100000;
   
  }
   
  .submenu li {
    background-color: $white-color;
    min-width: 100%;
    display: block;
    padding: 10px 10px 10px 10px;
    z-index: 100000;
   
  }
   
  .submenu li:hover {
   
    background-color: $primary-shadow-color;
    cursor: pointer;
  }
}
 
.buttons
{
display: flex;
 
}
.ok-btn {
  background-color: #a7288c;
  color: #fff;
 
}
 
.close-btn {
  background-color: #3567dc;
  color: #fff;
}
 
.modal-box.visible {
  display: block;
}
 
.modal-box.hidden {
  display: none;
}
 
.modal-box {
  position: absolute;
  top: 450%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  flex-direction: column;
  display: flex;
  .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    cursor: pointer;
    .close-btn{
        background-color: $pink-color;
    }
    .submit{
        background-color: $primary-color;
        color: $white-color;
        padding: 0px 20px 0px 20px;
        &:hover{
            opacity: 0.9;
        }
    }
}
}
 
a.active {
  border-bottom: 2px solid $primary-color;
}