.smtp {
    margin: 2rem auto;
    padding: 1rem;
    width: 20rem;
    border: 1px solid #2b1fd7;
    border-radius: 5px;
  }
  .smtpheader{
    font-size: 1.35rem;
    font-weight: bold;
    margin: 1rem 0.5rem;
    color: #00008B;
    border-bottom: 2px solid  #2b1fd7;
  }
 
  .smtp h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
 
  .smtp label {
    display: block;
    margin-bottom: 10px;
    font-weight: 10px;
  }
 
  .smtp input[type="text"],
  .smtp input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #2b1fd7;
    border-radius: 3px;
    box-sizing: border-box;
  }
 
  .smtp input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
 
  .smtp input[type="submit"]:hover {
    background-color: #0056b3;
  }
 