.clock {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 80%;
  overflow: hidden;
  font-size: 2.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  overflow: hidden; /* Disable scrolling */

}

.clockContainer {
  /* background-color: #f2f2f2; */
  border-radius: 1rem;
  padding: 1rem;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden; /* Disable scrolling */

}

.clockContainer h1 {
  font-size: 36px;
  margin: 0;
}

.restart,
.stop {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  font-size: 8px;
  border: none;
  border-radius: 1rem;
  /* color: white; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.restart:hover,
.stop:hover {
  /* background-color: #ffffff; */
}


.expectedTimer{
  display: block;
  margin-top: 3rem;
  width: 30%;
  margin-left: 0.7rem;
}


.first{
  border: 0.12rem solid blueviolet;
  height: 45%;
  border-radius: 0.7rem;
}

.second{
  margin-top: 0.25rem;
  border: 0.12rem solid blueviolet;
  height: 45%;
  border-radius: 1rem;


}

