@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '/public/globalStyle.scss';

.wholepage{
  .Split{
    display: flex;
    .leftpane{
      position: relative;
      width: 10%;
    }
    .Rightpane{
      
      width: 90%;
    }
  }
}
